
.home {
    display: flex;
    width: 100%;
    height: 922px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.home-header__title{
    color: #fff;
}
.home-header__title-highlight {
    font-size: 60px;
    color : blueviolet;
}

.home-header__title{
    font-size: 50px;
}

.home-header__btn--over{
    border : 2px solid #fff;
    box-sizing: inherit;
    display: inline-block;
    font-size: 30px;
    background-color: black;
    color: #fff;
    cursor: pointer; 
    justify-content: center;
}